.firstRow{
    border-bottom: 1px solid rgb(64, 63, 63);
    background-color: black;
}
.mainContainer{
    background: linear-gradient(#ff0000,#800000);
    border-radius: 30px;
    color: white;
    text-shadow: 2px 2px 3px black;
    box-shadow: 0px 0px 20px 1px rgb(108, 103, 103);
    margin-top: 5rem;
}
.title{
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 0px rgb(234, 231, 231);
}
.addBtn{
    color: #ffffff;
    background-color: transparent;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
}
.addBtn:hover{
    background-color:#ff00009a ;
    text-shadow: 2px 2px 3px black;
}
.viewContainer{
    background: linear-gradient(#ff0000,rgb(128, 0, 0));
    border-radius: 30px;
    color: white;
    text-shadow: 2px 2px 3px black;
    box-shadow: 0px 0px 20px 1px rgb(108, 103, 103);
}
.viewIcons{
    color: rgb(255, 254, 254);
    text-shadow: 2px 2px 3px rgb(8, 7, 7);
}
.viewIcons:hover{
    color: black;
    text-shadow: none;

}